header{
    background-color: white;
}
header #logo {
    
    display: inline-block;
}
body{
    background-color: rgb(240, 235, 248);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
#title{
    display: inline-block;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
#form-head{
    background-color: white;
    height: 100px;
    width: 800px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-top-width: 10px;
    border-top-color: rgb(103, 58, 183);
    border-top-style: solid;
    border-radius: 5px;
    margin-left: 25%;
}
#form-body{
    border-radius: 5px;
    background-color: white;
    width: 800px;
    margin-left: 25%;
    padding-left: 20px;
    padding-top: 30px;
    border-left-width: 7px;
    border-left-color: rgb(103, 58, 183);
    border-left-style: solid;
}
.button{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(103, 58, 183);
    color: white;
    border-radius: 7px;
}